:root {
    --main-theme: #12A194;
    --white: #fff;
    --black: #000000;
    --gray: #808080;
    --half-left: #4169E1;
    --half-right: #696969;
    color: var(--main-theme);
    font-size: 120%;
}

.blog-post__info{
    padding: 1rem 1rem;
    margin: 1rem 0;
    border: 0.1rem solid var(--gray);
    border-radius: 0.5rem;

    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: 10px;
}

.blog-post__info-no-border{
    padding: 1rem;
    /* margin: 1rem 0; */
    /* border: 1px solid var(--black); */

    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: 10px;
}

.blog-post__cta{
    letter-spacing: 1px;
    text-transform: uppercase;
    font-size: 1.2rem;
    color: var(--half-left);
    background: var(--white);
    border: 1px solid var(--main-theme);
    max-height: 2.5rem;
    
    border-radius: .8rem;
    text-decoration: none;
    text-align: center;
}

.blog-post__cta.important{
    color: var(--white);
    background: var(--half-left);
}

.blog-post__cta:hover{
    opacity: 0.8;
}

.float{
    /* background-color: red; */
    display: flex;
}

.child-left{
    flex: 1;
}

.blog-post__cta.important.child-right{
    flex: 1;
    max-width: 14rem;
    color: var(--gray);
    background: var(--white);
    border: 0.1rem solid var(--gray);
    margin-left: 1rem;
}

.blog-post__cta.important.child-right-no-mar{
    flex: 1;
    /* max-width: 14rem; */
    color: var(--gray);
    background: var(--white);
    border: 0.1rem solid var(--gray);
}

.have-num{
    display: inline-block; 
    color: green;
}

.label-big-h2{
    font-weight: bold;
    font-size: 1.5rem;
}

.label-big-h3{
    font-weight: bold;
    font-size: 1.2rem;
}

.font-bold{
    font-weight: bold;
}

.checkbox-scale-150-per{
    transform: scale(1.5);
}

.chapter{
    padding: 0.5rem
}

.custom-text-small-filter {
    /* width: 20%; */
    border: 2px solid #aaa;
    border-radius: 5px;
    /* margin: 0.1rem 0; */
    outline: none;
    padding: 0.1rem;
    box-sizing: border-box;
    transition: .3s;
    height: 1.5rem;
    margin-right: 0.5rem;
}

.custom-left-label-management{
    margin-right: 1rem;
    display: flex;
    align-items: center;
    font-weight: bold;
    flex: inherit;
}