:root {
    --main-theme: #12A194;
    --white: #fff;
    --black: #000000;
    --gray: #808080;
    --half-left: #4169E1;
    --half-right: #696969;
    color: var(--main-theme);
    font-size: 120%;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;
    /*border: 1px solid white;*/
}

.color-half-left{
    color: var(--half-left);
}

.color-half-right{
    color: var(--half-right);
}

section {
    position: relative;
    width: 100%;
    min-height: 100vh;
    /*background: #222;*/
    background: linear-gradient(to right, var(--half-left), var(--half-right));
    display: flex;
    justify-content: space-between;
    align-items: center;
}

section .content {
    position: relative;
    padding: 0px 50px 0px 70px;
    box-sizing: border-box;
    animation: left-in 0.25s ease-in forwards;
    /*animation-delay: 0.5s;*/
    opacity: 0;
    /*new*/
    margin-bottom: 50px;
    width: 100%;
}

section .content h2 {
    /* color: #fff; */
    font-size: 3em;
    font-weight: 800;
    /*display: inline;*/
    text-align: center;
}

section .content h5 {
    /* color: #fff; */
    /*display: inline;*/
    text-align: center;
}

section .content .main-text {
    background-color: white;
    color: black;
    padding: 0 3rem 2rem 3rem;
    position: relative;
    border-radius: 0 0 1rem 1rem;
}

section .content p {
    /*    color: #fff;
        font-size: 1.2em;
        background: white;
        color: black;*/
}

section .content .each-main-text {
    border: 2px solid black;
    margin: 10px 10px 10px 0px;
    padding: 10px;
}

section .content .each-main-text .subject-text {
    display: inline;
}

section .content .each-main-text .subject-hightlight, .subject-highlight {
    display: inline;
    color: red;
    text-transform: capitalize;
}

.sci {
    /*position: absolute;*/
    position: fixed;
    bottom: 0px;
    right: 0px;
    /*left: 80px;*/
    display: flex;
    animation: left-in 0.25s ease-in forwards;
    /*animation-delay: 1s;*/
    opacity: 0;
    background-color: black;
    padding-top: 2px;
    padding-right: 10px;
    padding-bottom: 2px;
    border-radius: 50px 0px 0px 0px;
}

.sci li {
    list-style: none;
}

.sci li a {
    text-decoration: none;
    color: #fff;
    /*color: black;*/
    margin-left: 20px;
    font-size: 0.9em;
}

.sci li button {
    text-decoration: none;
    color: #fff;
    /*color: black;*/
    margin-left: 20px;
    font-size: 0.9em;
}

.sci li a:hover {
    /*color: #fff;*/
    color: silver;
}

.nav {
    position: fixed;
    /*top: 75px;*/
    top: 0px;
    /*left: 80px;*/
    display: flex;
    /*border-left: 5px solid #ff2562;*/
    /*border-left: 5px solid white;*/
    padding-left: 20px;
    animation: left-in 0.25s ease-in forwards;
    /*animation-delay: 0s;*/
    opacity: 0;
    background-color: black;
    padding-top: 5px;
    padding-bottom: 5px;
    /*margin-top: 5px;*/
    /*margin-bottom: 5px;*/
    border-radius: 0px 0px 50px 0px;
    z-index: 1;
}

.nav li {
    list-style: none;
}

.nav li a {
    text-decoration: none;
    color: #fff;
    margin-right: 30px;
    font-size: 0.9em;
    text-transform: uppercase;
    font-weight: 700;
}

.nav li a.active {
    color: var(--main-theme);
}

.nav li a.active:hover {
    color: var(--main-theme);
    opacity: 0.8;
}

.nav li a:hover {
    color: silver;
}

@keyframes fade-in {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes left-in {
    0% {
        transform: translateX(-200px);
        opacity: 0;
    }
    100% {
        transform: translateX(0px);
        opacity: 1;
    }
}

@media(max-width: 991px) {
    .menuicon {
        position: fixed;
        top: 40px;
        right: 10px;
        width: 30px;
        height: 30px;
        background: url(../images/menu.png);
        filter: invert(1);
        background-size: 30px;
        cursor: pointer;
        background-repeat: no-repeat;
        z-index: 1000;
    }
    .menuicon.active {
        background: url(../images/close.png);
        filter: invert(1);
        background-size: 30px;
        cursor: pointer;
        background-repeat: no-repeat;
        z-index: 1000;
    }
    .nav {
        position: fixed;
        top: 0;
        left: -100%;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, .95);
        flex-direction: column;
        z-index: 11;
        border: none;
        padding: 50px;
    }
    .nav.active {
        left: 0;
    }
    .nav li {
        margin: 5px 0;
    }
    section {
        flex-direction: column-reverse;
        justify-content: center;
    }
    section:before {
        clip-path: polygon(0 0, 100% 0, 100% 10%, 0 26%);
    }
    section .content {
        padding: 50px;
        margin-bottom: 30px;
    }
    section .content h2 {
        font-size: 1.5em;
    }
    section .content p {
        font-size: 1em;
    }
    section .content a {
        font-size: 0.8em;
        padding: 10px;
    }
    section .imbBx {
        max-width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        padding-right: 0;
        margin-top: 20px;
    }
    section .imbBx img {
        max-width: 300px;
    }
    .sci {
        left: 0px;
        /*right: 0px;*/
        bottom: 0px;
        border-radius: 0px 0px 0px 0px;
        /*border-radius: 50px 0px 0px 0px;*/
    }
}

/*new*/

/* #myBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    font-size: 18px;
    border: none;
    outline: none;
    background-color: black;
    /*background: linear-gradient(to bottom right, #FF9999, #196BC7);*/
    color: white;
    cursor: pointer;
    padding: 15px;
    border-radius: 4px;
    opacity: 0.8;
}

#myBtn:hover {
    background-color: #555;
} */

.controlButton {
    background-color: var(--main-theme);
    color: white;
    padding: 8px 15px;
    text-decoration: none;
    border-radius: 10px;
    opacity: 0.8;
    font-weight: bold;
    transition: .3s;
    border: none;
    outline: none;
}

.controlButton:hover {
    box-shadow: 0 0 8px 0 var(--main-theme);
    /*background-color: white;*/
    /*color: blue;*/
    transition: .3s;
}

.select {
    text-transform: capitalize;
    transition: .3s;
}

.select:focus {
    border-color: blue;
    box-shadow: 0 0 10px 0 blue;
}

.select:hover {
    border-color: blue;
    box-shadow: 0 0 10px 0 blue;
}

.title {
    font-size: 18px;
    color: #42554e;
    font-weight: bold;
    padding-bottom: 1rem;
}

.custom-text-input {
    /*background-color: yellow;*/
    width: 100%;
    border: 2px solid #aaa;
    border-radius: 5px;
    margin: 8px 0px;
    outline: none;
    padding: 8px;
    box-sizing: border-box;
    transition: .3s;
}

.custom-text-input:focus {
    border-color: blue;
    box-shadow: 0 0 8px 0 blue;
}

.custom-text-input:hover {
    border-color: blue;
    box-shadow: 0 0 8px 0 blue;
}

.hightlight {
    color: red;
}

.note {
    font-family: Ubuntu-Regular;
    font-size: 85%;
    color: #666666;
    margin-left: 1px;
}

.next-to-note {
    display: inline;
    font-family: Ubuntu-Regular;
    font-size: 85%;
    color: #666666;
}

/* new */

body{
    background-color: var(--main-theme);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;
    /*border: 1px solid white;*/
}

section .content {
    position: relative;
    padding: 0px 50px 0px 70px;
    box-sizing: border-box;
    animation: left-in 0.25s ease-in forwards;
    /*animation-delay: 0.5s;*/
    opacity: 0;
    /*new*/
    margin-bottom: 50px;
    width: 100%;
}

section .content h2 {
    /* color: #fff; */
    font-size: 3em;
    font-weight: 800;
    /*display: inline;*/
    text-align: center;
}

section .content .each-main-text .subject-text {
    display: inline;
}

section .content .each-main-text .subject-hightlight, .subject-highlight {
    display: inline;
    color: red;
    text-transform: capitalize;
}

section .content .blog-post__cta {
    position: relative;
    display: inline-block;
    padding: 0.5rem 0.75rem;
    margin-top: 0.5rem;
    text-decoration: none;
    font-size: 0.95em;
    font-weight: 700;
    border-radius: 5px;
}

.sci {
    /*position: absolute;*/
    position: fixed;
    bottom: 0px;
    right: 0px;
    /*left: 80px;*/
    display: flex;
    animation: left-in 0.25s ease-in forwards;
    /*animation-delay: 1s;*/
    opacity: 0;
    background-color: black;
    padding-top: 2px;
    padding-right: 10px;
    padding-bottom: 2px;
    border-radius: 50px 0px 0px 0px;
}

.sci li {
    list-style: none;
}

.sci li a {
    text-decoration: none;
    color: #fff;
    /*color: black;*/
    margin-left: 20px;
    font-size: 0.9em;
}

.sci li button {
    text-decoration: none;
    color: #fff;
    /*color: black;*/
    margin-left: 20px;
    font-size: 0.9em;
}

.sci li a:hover {
    /*color: #fff;*/
    color: silver;
}

.nav {
    position: fixed;
    /*top: 75px;*/
    top: 0px;
    /*left: 80px;*/
    display: flex;
    /*border-left: 5px solid #ff2562;*/
    /*border-left: 5px solid white;*/
    padding-left: 20px;
    animation: left-in 0.25s ease-in forwards;
    /*animation-delay: 0s;*/
    opacity: 0;
    background-color: black;
    padding-top: 5px;
    padding-bottom: 5px;
    /*margin-top: 5px;*/
    /*margin-bottom: 5px;*/
    border-radius: 0px 0px 50px 0px;
    z-index: 1;
}

.nav li {
    list-style: none;
}

.nav li a {
    text-decoration: none;
    color: #fff;
    margin-right: 30px;
    font-size: 0.9em;
    text-transform: uppercase;
    font-weight: 700;
}

.nav li a.active {
    color: var(--main-theme);
}

.nav li a.active:hover {
    color: var(--main-theme);
    opacity: 0.8;
}

.nav li a:hover {
    color: silver;
}

@keyframes fade-in {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes left-in {
    0% {
        transform: translateX(-200px);
        opacity: 0;
    }
    100% {
        transform: translateX(0px);
        opacity: 1;
    }
}

@media(max-width: 991px) {
    .menuicon {
        position: fixed;
        top: 40px;
        right: 10px;
        width: 30px;
        height: 30px;
        background: url(../images/menu.png);
        filter: invert(1);
        background-size: 30px;
        cursor: pointer;
        background-repeat: no-repeat;
        z-index: 1000;
    }
    .menuicon.active {
        background: url(../images/close.png);
        filter: invert(1);
        background-size: 30px;
        cursor: pointer;
        background-repeat: no-repeat;
        z-index: 1000;
    }
    .nav {
        position: fixed;
        top: 0;
        left: -100%;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, .95);
        flex-direction: column;
        z-index: 11;
        border: none;
        padding: 50px;
    }
    .nav.active {
        left: 0;
    }
    .nav li {
        margin: 5px 0;
    }
    section {
        flex-direction: column-reverse;
        justify-content: center;
    }
    section:before {
        clip-path: polygon(0 0, 100% 0, 100% 10%, 0 26%);
    }
    section .content {
        padding: 50px;
        margin-bottom: 30px;
    }
    section .content h2 {
        font-size: 1.5em;
    }
    section .content p {
        font-size: 1em;
    }
    section .content a {
        font-size: 0.8em;
        padding: 10px;
    }
    section .imbBx {
        max-width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        padding-right: 0;
        margin-top: 20px;
    }
    section .imbBx img {
        max-width: 300px;
    }
    .sci {
        left: 0px;
        /*right: 0px;*/
        bottom: 0px;
        border-radius: 0px 0px 0px 0px;
        /*border-radius: 50px 0px 0px 0px;*/
    }
}

.controlButton {
    background-color: var(--main-theme);
    color: white;
    padding: 8px 15px;
    text-decoration: none;
    border-radius: 10px;
    opacity: 0.8;
    font-weight: bold;
    transition: .3s;
    border: none;
    outline: none;
}

.controlButton:hover {
    box-shadow: 0 0 8px 0 var(--main-theme);
    /*background-color: white;*/
    /*color: blue;*/
    transition: .3s;
}

.select {
    text-transform: capitalize;
    transition: .3s;
}

.select:focus {
    border-color: blue;
    box-shadow: 0 0 10px 0 blue;
}

.select:hover {
    border-color: blue;
    box-shadow: 0 0 10px 0 blue;
}

.title {
    font-size: 18px;
    color: #42554e;
    font-weight: bold;
    padding-bottom: 1rem;
}

.custom-text-input {
    /*background-color: yellow;*/
    width: 100%;
    border: 2px solid #aaa;
    border-radius: 5px;
    margin: 8px 0px;
    outline: none;
    padding: 8px;
    box-sizing: border-box;
    transition: .3s;
}

.custom-text-input:focus {
    border-color: blue;
    box-shadow: 0 0 8px 0 blue;
}

.custom-text-input:hover {
    border-color: blue;
    box-shadow: 0 0 8px 0 blue;
}

.hightlight {
    color: red;
}

.note {
    font-family: Ubuntu-Regular;
    font-size: 85%;
    color: #666666;
    margin-left: 1px;
}

.next-to-note {
    display: inline;
    font-family: Ubuntu-Regular;
    font-size: 85%;
    color: #666666;
}

/* new */

body{
    background-color: var(--main-theme);
}

.div-webname{
    display: flex;
    justify-content: center;
    background-color: var(--white);
    border-radius: 1rem 1rem 0 0;
}

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: 10px;
}

.img-small{
    /* max-height: 6rem;
    max-width: 6rem; */
    height: 15rem;
    width: 100%;
    object-fit: scale-down;
}

.dis-inline{
    display: inline;
}

.custom-text-small {
    width: 15%;
    border: 0.1rem solid #aaa;
    border-radius: 5px;
    /* margin: 0.1rem 0; */
    outline: none;
    padding: 0.1rem;
    box-sizing: border-box;
    transition: .3s;
    height: 1.3rem;
}

.flex{
    display: flex;
}

.m-right-1 {
    margin-right: 1rem;
}

.flex{
    display: flex;
    /* justify-content: space-between; */
}

.flex-40 {
    display: flex;
    width: 40%;
}

.flex-100 {
    display: flex;
    width: 100%;
}

.m-top-small {
    margin-top: 0.5rem;
}

.m-right {
    margin-right: 1rem;
}

.m-top {
    margin-top: 1rem;
}

.m-top-3 {
    margin-top: 3rem;
}

.custom-text {
    width: 100%;
    border: 2px solid #aaa;
    border-radius: 5px;
    margin: 0.1rem 0;
    outline: none;
    padding: 0.5rem;
    box-sizing: border-box;
    transition: .3s;
    height: 2.5rem;
}

.custom-div{
    width: 100%;
    border: 2px solid #aaa;
    border-radius: 5px;
    margin: 0.1rem 0;
    outline: none;
    padding: 0.5rem;
    box-sizing: border-box;
    transition: .3s;
    height: 2.5rem;
}

.custom-textarea {
    width: 100%;
    border: 2px solid #aaa;
    border-radius: 5px;
    margin: 0.1rem 0;
    outline: none;
    padding: 0.5rem;
    box-sizing: border-box;
    transition: .3s;
}

.custom-text-small {
    width: 20%;
    border: 2px solid #aaa;
    border-radius: 5px;
    /* margin: 0.1rem 0; */
    outline: none;
    padding: 0.1rem;
    box-sizing: border-box;
    transition: .3s;
    height: 1.5rem;
    margin-right: 1rem;
}

.custom-text-auto {
    width: auto;
    border: 2px solid #aaa;
    border-radius: 5px;
    /* margin: 0.1rem 0; */
    outline: none;
    padding: 0.1rem;
    box-sizing: border-box;
    transition: .3s;
    height: 1.5rem;
    margin-right: 1rem;
}

.custom-button-small {
    padding: 0rem 0.75rem;
    border-radius: 5px;
    text-decoration: none;
    background-color: var(--half-left);
    color: white;
    border: none;
    display: flex;
    align-items: center;
}

.custom-button-small:active{
    opacity: 0.8;
}

.custom-button-scale {
    width: 100%;
    border: 2px solid #aaa;
    border-radius: 5px;
    margin: 0.1rem 0;
    outline: none;
    padding: 0.5rem;
    box-sizing: border-box;
    transition: .3s;
    height: 2.5rem;
    font-size: 150%;
    background-color: var(--main-theme);
    color: white;
    border: none;
}

.custom-button-scale:hover {
    opacity: 0.8;
}

.multiselect-custom {
    /* main_am.html */
    margin-left: 0.5rem;
}

.highlight-start-text {
    /* main_am.html */
    display: inline;
    font-weight: bold;
}

.btn-stack {
    /* main_am.html */
    display: inline-grid;
    height: fit-content;
}

.thin-line {
    border: 0.5px solid black;
    margin: 1rem;
}

.thin-line-full-width {
    border: 0.5px solid black;
    margin: 1rem 0;
}

.thin-line-shrink {
    border: 0.5px solid black;
    margin: 1rem 3rem 1rem 0;
}

.thin-line-full {
    border: 0.5px solid black;
    margin: 1rem 1rem 1rem 0;
}

.thin-line-shrink-small {
    border: 0.5px solid black;
    margin: 0.5rem 3rem 0.5rem 0;
}

.link-to-report {
    /* managementTeach1_am */
    color: blue;
    font-weight: bold;
}

.link-to-report:active{
    color: red;
}

.width-100 {
    width: 100%;
}

.width-2{
    width: 2rem;
}

.width-3{
    width: 3rem;
}

.blog-post__cta.important.child {
    /* modify_ex_teach.html */
    flex: 1;
    max-width: 14rem;
    color: var(--gray);
    background: var(--white);
    border: 0.1rem solid var(--gray);
}

.small-note{
    font-size: 80%;
    font-style: italic;
    opacity: 50%;
}

.dis-inline{
    display: inline;
}

.dis-contents{
    display: contents;
}

.base-reminder{
    font-weight: bold;
    opacity: 60%;
    display: inline;
    color: green;
}

.keep-middle{
    /*main_stu.html*/
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex-1{
    flex: 1;
    width: 100%;
}

.flex-2{
    flex: 2;
    width: 100%;
}

.txt-green{
    color: green;
}

.txt-blue{
    color: blue;
}

.txt-crimson{
    color: crimson;
}

.bg-beige{
    background-color: beige;
}

.bg-ws{
    background-color: whitesmoke;
}

.cover-detail{
    max-width: max-content;
}

.detail-custom{
    width: 100%;
    /* border: 2px solid #aaa; */
    border-radius: 5px;
    /* margin: 0.1rem 0; */
    outline: none;
    padding: 0.1rem;
    box-sizing: border-box;
    transition: .3s;
    /* height: 1.5rem; */
    margin-right: 1rem;
}

.title-for-summary{
    margin-right: 1rem;
    display: flex;
    align-items: baseline;
    font-weight: bold;
    flex: inherit;
}

.border-1{
    border: 1px solid black;
}

.padding-0-1-1-1{
    padding: 0 1rem 1rem 1rem;
}

.padding-0-1-1-0{
    padding: 0 0.5rem;
    font-size: 70%;
}
.text-center{
    text-align: center;
}

.img-tiny{
    /* max-height: 6rem;
    max-width: 6rem; */
    height: 3rem;
    width: 100%;
    object-fit: scale-down;
}

.mar-right-1{
    margin-right: 1rem;
}

.custom-left-label-filter{
    margin-right: 0.5rem;
    display: flex;
    align-items: center;
    font-weight: bold;
    flex: inherit;
}

.a-paging-dot{
    background-color: var(--half-left);
    color: var(--white);
    padding: 0.3rem 0.5rem;
    margin-right: 1rem;
    text-decoration: none;
    border-radius: 5px;
    font-weight: 700;
    text-align: center;
    width: auto;
    min-width: 2rem;
}

.a-paging{
    background-color: var(--half-left);
    color: var(--white);
    padding: 0.3rem 0.5rem;
    margin-right: 1rem;
    text-decoration: none;
    border-radius: 5px;
    font-weight: 700;
    text-align: center;
    width: auto;
    min-width: 2rem;
}

.a-paging:active{
    background-color: red;
}

.a-paging-select{
    background-color: red;
    color: var(--white);
    padding: 0.3rem 0.5rem;
    margin-right: 1rem;
    text-decoration: none;
    border-radius: 5px;
    font-weight: 700;
    text-align: center;
    width: auto;
    min-width: 2rem;
}

.txt-subject{
    width: 9rem;
    height: fit-content;
}

.opc-50-per{
    opacity: 50%;
}

.bold-for-mini{
    font-weight: bold;
}

tr:hover{
    background-color: lightgray;
}

.thin-line-custom {
    border: 0.05rem solid black;
    margin: 0 0 1rem 0;
}

.thin-line-shrink {
    border: 0.5px solid black;
    margin: 1rem 3rem 1rem 0;
}

.cbx{
    transform: scale(1.5);
}

.m-left-1-per{
    margin-left: 1%;
}
